<aside class="sidebar">

    <nav class="sidebar-nav">

        <a href="dashboard.html" class="nav-link" data-page="dashboard">
            <i class="fa-solid fa-house"></i>
            <span>Dashboard</span>
        </a>

        <a href="pacientes.html" class="nav-link" data-page="pacientes">
            <i class="fa-solid fa-paw"></i>
            <span>Pacientes</span>
        </a>

        <a href="citas.html" class="nav-link" data-page="citas">
            <i class="fa-solid fa-calendar-days"></i>
            <span>Citas</span>
        </a>

        <a href="informes.html" class="nav-link" data-page="informes">
            <i class="fa-solid fa-chart-line"></i>
            <span>Informes</span>
        </a>

        <a href="propietarios.html" class="nav-link" data-page="propietarios">
            <i class="fa-solid fa-user"></i>
            <span>Propietarios</span>
        </a>

    </nav>

</aside>